@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-size: 12px;
  font-weight: 600;
}
header .header-bar {
  background-color: #0282f9;
  color: white;
  padding: 3px 0;
}
header .header-bar .bar-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
header .header-bar .bar-container span {
  margin-left: 40px;
  font-size: 9px;
}
header .logo img {
  width: 70px;
}
header .menu ul {
  display: flex;
}
header .menu ul li {
  margin: 0 13px;
  line-height: 100px;
}
header .menu ul li.current {
  color: #0282f9;
  border-bottom: 3px solid #0282f9;
}

main .content {
  background-color: #1c1c1c;
  color: white;
}
main .content .jumbo {
  height: 300px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  position: relative;
}
main .content .jumbo .box-text {
  color: white;
  background-color: #0282f9;
  padding: 10px 15px;
  display: inline;
  position: absolute;
  bottom: -20px;
  left: 250px;
}
main .content .container {
  display: block;
}
main .content .container .comic-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .content .container .comic-list .single-card {
  width: 15%;
}
main .content .container .comic-list .single-card .image-card {
  margin-bottom: 15px;
  width: 100%;
  height: 50%;
}
main .content .container .comic-list .single-card .image-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main .content .container .load {
  display: flex;
  justify-content: center;
}
main .content .container .load span {
  color: white;
  background-color: #0282f9;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 35px;
  display: inline-block;
  margin-bottom: 15px;
}
main .shop {
  background-color: #0282f9;
  padding: 40px 0;
  color: white;
}
main .shop ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .shop ul li img {
  width: 40px;
  vertical-align: middle;
  margin-right: 10px;
}
main .shop ul li img.locator {
  width: 30px;
}
main .shop ul li span {
  font-size: 12px;
  vertical-align: middle;
}

footer .footer-top {
  background-image: url("../img/footer-bg.jpg");
  height: 300px;
  overflow: hidden;
}
footer .footer-top .footer-list {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
}
footer .footer-top .footer-list ul {
  margin-right: 30px;
}
footer .footer-top .footer-list ul li {
  font-size: 10px;
  margin: 5px 0;
  color: lightgray;
}
footer .footer-top .footer-list ul li.first-li {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0;
  color: white;
}
footer .footer-top .footer-logo img {
  width: 500px;
}
footer .footer-bottom {
  height: 100px;
  background-color: #303030;
}
footer .footer-bottom .sign div {
  color: white;
  background-color: #303030;
  border: 2px solid #0282f9;
  padding: 10px;
}
footer .footer-bottom .socials ul {
  display: flex;
  align-items: center;
}
footer .footer-bottom .socials ul li {
  margin: 10px;
}
footer .footer-bottom .socials ul li.follow {
  color: #0282f9;
  font-weight: 600;
}