@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-size: 12px;
  font-weight: 600;
}
header .header-bar {
  background-color: #0282f9;
  color: white;
  padding: 3px 0;
}
header .header-bar .bar-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
header .header-bar .bar-container span {
  margin-left: 40px;
  font-size: 9px;
}
header .logo img {
  width: 70px;
}
header .menu ul {
  display: flex;
}
header .menu ul li {
  margin: 0 13px;
  line-height: 100px;
}
header .menu ul li.current {
  color: #0282f9;
  border-bottom: 3px solid #0282f9;
}

main.back-color {
  background-color: #1c1c1c;
  color: white;
}
main .content .jumbo {
  height: 300px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  position: relative;
}
main .content .jumbo .box-text {
  color: white;
  background-color: #0282f9;
  padding: 10px 15px;
  display: inline;
  position: absolute;
  bottom: -20px;
  left: 250px;
}
main .content .jumbo .comic-box {
  position: absolute;
  bottom: -20px;
  left: 250px;
  border: 1px solid white;
  color: white;
}
main .content .jumbo .comic-box img {
  width: 140px;
}
main .content .jumbo .comic-box span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  background-color: #00a9d9;
  padding: 2px;
}
main .content .jumbo .comic-box div {
  position: absolute;
  bottom: 0;
  font-size: 10px;
  text-align: center;
  background-color: #00a9d9;
  width: 100%;
}
main .content .main-top {
  height: 50px;
  background-color: #0282f9;
}
main .content .container {
  display: block;
}
main .content .container .comic-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 35px;
}
main .content .container .comic-list .single-card {
  width: 15%;
  margin-bottom: 30px;
}
main .content .container .comic-list .single-card .image-card {
  margin-bottom: 15px;
  width: 100%;
  height: 140px;
}
main .content .container .comic-list .single-card .image-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main .content .container .load {
  display: flex;
  justify-content: center;
}
main .content .container .load span {
  color: white;
  background-color: #0282f9;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 35px;
  display: inline-block;
  margin-bottom: 15px;
}
main .content .container .main-content {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
main .content .container .main-content .comic-text {
  width: 65%;
}
main .content .container .main-content .comic-text h2 {
  margin-bottom: 20px;
  color: #003f5e;
}
main .content .container .main-content .comic-text .green-bar {
  display: flex;
  width: 100%;
  background-color: #55ba59;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 600;
}
main .content .container .main-content .comic-text .green-bar .price {
  width: 70%;
  padding: 13px;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid black;
}
main .content .container .main-content .comic-text .green-bar .price div {
  color: #b0fc9a;
}
main .content .container .main-content .comic-text .green-bar .price span {
  color: white;
}
main .content .container .main-content .comic-text .green-bar .ava {
  width: 30%;
  padding: 13px;
  text-align: center;
  color: white;
}
main .content .container .main-content .advertisement {
  width: 28%;
}
main .content .container .main-content .advertisement div {
  text-align: end;
}
main .content .main-bottom {
  background-color: #f6f6f6;
  border-top: 2px solid lightgrey;
  padding-top: 20px;
  padding-bottom: 100px;
}
main .content .main-bottom .info {
  display: flex;
  justify-content: space-between;
}
main .content .main-bottom .info h3 {
  padding: 10px 0;
  border-bottom: 2px solid lightgray;
}
main .content .main-bottom .info .talent {
  width: 48%;
}
main .content .main-bottom .info .by {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid lightgrey;
  font-size: 13px;
}
main .content .main-bottom .info .by .span {
  width: 30%;
}
main .content .main-bottom .info .by div {
  width: 70%;
  color: #02abdb;
}
main .content .main-bottom .info .specs {
  width: 48%;
}
main .shop {
  background-color: #0282f9;
  padding: 40px 0;
  color: white;
}
main .shop ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .shop ul li img {
  width: 40px;
  vertical-align: middle;
  margin-right: 10px;
}
main .shop ul li img.locator {
  width: 30px;
}
main .shop ul li span {
  font-size: 12px;
  vertical-align: middle;
}

footer .footer-top {
  background-image: url("../img/footer-bg.jpg");
  height: 300px;
  overflow: hidden;
}
footer .footer-top .footer-list {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
}
footer .footer-top .footer-list ul {
  margin-right: 30px;
}
footer .footer-top .footer-list ul li {
  font-size: 10px;
  margin: 5px 0;
  color: lightgray;
}
footer .footer-top .footer-list ul li.first-li {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0;
  color: white;
}
footer .footer-top .footer-logo img {
  width: 500px;
}
footer .footer-bottom {
  height: 100px;
  background-color: #303030;
}
footer .footer-bottom .sign div {
  color: white;
  background-color: #303030;
  border: 2px solid #0282f9;
  padding: 10px;
}
footer .footer-bottom .socials ul {
  display: flex;
  align-items: center;
}
footer .footer-bottom .socials ul li {
  margin: 10px;
}
footer .footer-bottom .socials ul li.follow {
  color: #0282f9;
  font-weight: 600;
}