main {

    .content {
        background-color: #1c1c1c;
        color: $secondary_color;
    
        .jumbo {
            height: 300px;
            background-image: url('../img/jumbotron.jpg');
            background-size: cover;
            position: relative;
    
            .box-text {
                color: $secondary_color;
                background-color: $primary_color;
                padding: 10px 15px;
                display: inline;
                position: absolute;
                bottom: -20px;
                left: 250px;
            }
        }
        .container {
            display: block;
    
            .comic-list {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .single-card {
                    width: calc(90% / 6);
            
                    .image-card {
                        margin-bottom: 15px;
                        width: 100%;
                        height: 50%;
            
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: top;
                        }
                    }
                }
            }

            .load {
                display: flex;
                justify-content: center;

                span {
                    color: $secondary_color;
                    background-color: $primary_color;
                    font-size: 12px;
                    font-weight: 600;
                    padding: 10px 35px;
                    display: inline-block;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .shop {
        background-color: $primary_color;
        padding: 40px 0;
        color: $secondary_color;

        ul{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{

                img{
                    width: 40px;
                    vertical-align: middle;
                    margin-right: 10px;
                    &.locator {
                        width: 30px;
                    }
                }
                span{
                    font-size: 12px;
                    vertical-align: middle;
                }
            }
        }
    }
}