main {
    &.back-color {
        background-color: #1c1c1c;
        color: $secondary_color;
    }
    .content {
    
        .jumbo {
            height: 300px;
            background-image: url('../img/jumbotron.jpg');
            background-size: cover;
            position: relative;
    
            .box-text {
                color: $secondary_color;
                background-color: $primary_color;
                padding: 10px 15px;
                display: inline;
                position: absolute;
                bottom: -20px;
                left: 250px;
            }

            .comic-box {
                position: absolute;
                bottom: -20px;
                left: 250px;
                border: 1px solid white;
                color: $secondary_color;

                img {
                   width: 140px; 
                }

                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 10px;
                    background-color: #00a9d9;
                    padding: 2px;
                }

                div {
                    position: absolute;
                    bottom: 0;
                    font-size: 10px;
                    text-align: center;
                    background-color: #00a9d9;
                    width: 100%;
                }
            }
        }

        .main-top {
            height: 50px;
            background-color: $primary_color;
        }

        .container {
            display: block;
    
            .comic-list {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-top: 35px;

                .single-card {
                    width: calc(90% / 6);
                    margin-bottom: 30px;
            
                    .image-card {
                        margin-bottom: 15px;
                        width: 100%;
                        height: 140px;
            
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: top;
                        }
                    }
                }
            }

            .load {
                display: flex;
                justify-content: center;

                span {
                    color: $secondary_color;
                    background-color: $primary_color;
                    font-size: 12px;
                    font-weight: 600;
                    padding: 10px 35px;
                    display: inline-block;
                    margin-bottom: 15px;
                }
            }

            .main-content {
                padding-top: 50px;
                padding-bottom: 50px;
                display: flex;
                justify-content: space-between;

                .comic-text {
                    width: 65%;

                    h2 {
                        margin-bottom: 20px;
                        color: #003f5e;
                    }

                    .green-bar {
                        display: flex;
                        width: 100%;
                        background-color: #55ba59;
                        margin-bottom: 15px;
                        font-size: 13px;
                        font-weight: 600;

                        .price {
                            width: 70%;
                            padding: 13px;
                            display: flex;
                            justify-content: space-between;
                            border-right: 1px solid black;

                            div {
                                color: #b0fc9a;
                            }

                            span {
                                color: $secondary_color;
                            }
                        }

                        .ava {
                            width: 30%;
                            padding: 13px;
                            text-align: center;
                            color: $secondary_color;
                        }
                    }
                }

                .advertisement {
                    width: 28%;
                    div {
                        text-align: end;
                        font-weight: 600;
                        color: #575656;
                    }
                }
            }
        }

        .main-bottom {
            background-color: #f6f6f6;
            border-top: 2px solid lightgrey;
            padding-top: 20px;
            padding-bottom: 100px;

            .info {
                display: flex;
                justify-content: space-between;

                h3 {
                    padding: 10px 0;
                    border-bottom: 2px solid lightgray;
                }

                .talent {
                    width: 48%;
                }

                .by {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 10px 0;
                    border-bottom: 2px solid lightgrey;
                    font-size: 13px;

                    span {
                        width: 40%;
                    }

                    div {
                        display: contents;
                        width: 60%;
                        color: #02abdb;
                    }
                }

                .specs {
                    width: 48%;
                }
            }
        }
    }

    .shop {
        background-color: $primary_color;
        padding: 40px 0;
        color: $secondary_color;

        ul{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{

                img{
                    width: 40px;
                    vertical-align: middle;
                    margin-right: 10px;
                    &.locator {
                        width: 30px;
                    }
                }
                span{
                    font-size: 12px;
                    vertical-align: middle;
                }
            }
        }
    }
}